
html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.login{
    width: 400px;
    height: 150px;
    background-color: #D4E157;
    text-align: center;
    padding-top: 35px;
    margin-top:  100px;
    position: fixed;
}

.log{
    padding-right: 270px;
    border-bottom: 2px solid #E4E4E4;
    padding-top: 30px;
    font-family: Roboto;
    
}

p{
    color: darkgray;
    font-size: 14px;
    font-family: Roboto;
    
}

#p{
    padding-right: 270px;
}

a{
    font-family: Roboto;
}

input{
    
    border: 0;
    float: left;
    border-bottom: 4px solid #D4E157;
    width: 100%;
    font: Roboto;
}

.pass{
    padding-top: 45px;
    margin-bottom: -0px;
}

button{
    background-color: #D4E157;
    width: 115px;
    height: 35px;
    font-family: Roboto;
    float: right;
    
}

.error{
    color: red;
    width: 200px;
    float: left;
    font-family: Roboto;
    font-size: 12px;
    text-align: left;
}

#password{
    margin-bottom:20px;
}

.main{
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 31px;
    width: 390px;
    height: 290px;
    margin-left: -15px;
    border: 2px solid silver;
}

.user
{
    margin-bottom: -0px;
    padding-top: 10px;
}

b{
    font-family: Roboto;
}

.footer{
    padding-top: 60px
}

input:focus{
    outline: none;
}

#logo{
    
    height: 100px;
    padding-left: 65px;
    padding-top: 20px;
    
}

#name{
    font-size: 17px;
}

#panel{
    color: black;
    display: inline-block;
    padding-left: 20px;
    
}

.int{
    position: absolute;
    font-size: 18px;
    font-family: Roboto;
    padding-left: 20px;
    color: black;
}

.footer{
    background-color: #EEEE;
    height: 10%;

}

.container-fluid{
    margin: 0;
    padding: 0;
}

.icon{
    font-size: 25px;
    color: gray;
}

#logo-head{
    background-color: #d4e157;
    height: 123px;
    width: 230px;
    margin-left: -16px;
    
}
#menu{
    width: 250px;
    height: 600px;
    background-color: #EEEE;
}

.menu{
    
    position: absolute;
    height: 600px;
    
}

#header{
    height: 10%;
    background-color: #EEEE;
    color: darkgray;
    
}

h2{
    padding-top: 60px;
    padding-left: 20px;
}

#name{
    float: right;
    padding: 0;
    padding-right: 50px;
    
    
}
#img{
    height: 30px;
    border-radius: 100px;
    float: right;
}

#inputs{
    height: 600px;
}

.interviews{
    margin-top: 10px;
    padding-top: 10px;
    width: 170px;
    height: 50px
}



#left-menu{
    
}